@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
  font-size: 15px;

  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --dark-blue-transparent: hsl(218, 44%, 22%, .2);
  
  --card-radius: .8rem;
  --card-padding: .9rem;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  background-color: var(--light-gray);
}

.card {
  background-color: var(--white);
  border-radius: var(--card-radius);
  box-shadow: 0 0 2rem var(--dark-blue-transparent);
  
  max-width: 250px;
  margin-block-start: 25svh;
  margin-inline: auto;
  
  padding: var(--card-padding);
}

.card > * {
  margin-block-end: 1rem;
}

.card__image {
  max-width: inherit;
}

.card__image > img {
  max-width: 100%;

  border-radius: .5rem;
}

.card > p {
  text-align: center;
  padding-inline: .65rem;
}

.card__title {
  font-size: 1.15rem;
  font-weight: 700;
}

.card__description {
  font-size: .8rem;
  color: var(--grayish-blue);
  padding-block-end: .5rem;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
}

@media (min-width: 376px) {
  .card {
    transform: scale(1.2);
  }
}